body {
	background: url("https://images.unsplash.com/photo-1580541832626-2a7131ee809f")
		no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

#title {
	padding: 10px;
	width: 100%;
	background-color: #2f2f2f;
	text-align: center;
	font-family: "ArgentumNovusRegular";
	font-weight: normal;
	font-style: normal;
	font-size: 2.5em;
	color: white;
}

#container {
	margin: 2em auto;
	height: min(70vh, 70vw);
	width: min(70vh, 70vw);
	flex-grow: 1;
	border: 5px solid #090909;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}

.row {
	height: 12.5%;
	white-space: nowrap;
	display: flex;
}

.row > div {
	height: 100%;
	border: 1px solid black;
	width: 12.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.white {
	background-color: #989898;
}
.black {
	background-color: #2f2f2f;
}

.row > div > img {
	max-height: 60%;
	max-width: 60%;
	height: 100%;
	margin: auto;
}

#footer {
	padding: 10px;
	margin: 1em 0;
	margin-top: 3em;
	width: 100%;
	background-color: #787878;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
#footer > span {
	margin: 0.5em 0;
}
#footer > span:first-of-type {
	margin-right: 1em;
}
